<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Website Layout</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--Estilos enlazados-->
<link rel="stylesheet" type="text/css" href="../css/estilos.css">
</head>
<body>

  <div class="logo">Re-Read</div>

<div class="header">
  <h1>Re-Read</h1>
  <p>En Re-Read podrás encontrar libros de segunda mano en perfecto estado. También vender los tuyos. Porque siempre hay libros leídos y libros por leer. Por eso Re-compramos y Re-vendemos para que nunca te quedes sin ninguno de los dos.</p>
</div>


<div class="row">
  
  <div class="column left">

    <div class="topnav">
      <a href="../index.html">Re-Read</a>
      <a href="libros.html">Libros</a>
      <a href="ebooks.html">eBooks</a>
    </div>

    <h3>Toda la actualidad en eBook</h3>
      <div class="ebook">
      <a href="https://www.amazon.es/imperio-final-Nacidos-Mistborn-BOLSILLO/dp/8498726131"><img src="../img/1.jpg" alt="ebook 1">
      <div>El imperio final</div></a>
    </div>
     <div class="ebook">
      <a href="https://www.casadellibro.com/libro-alcatraz-contra-los-bibliotecarios-malvados/9788416712083/3030555"><img src="../img/2.jpg" alt="ebook 1">
      <div>Bibliotecarios malvados</div></a>
    </div>
     <div class="ebook">
       <a href="https://www.amazon.es/talento-oscuro-Alcatraz-Bibliotecarios-Malvados/dp/8416712476/ref=sr_1_1?adgrpid=56934910755&dchild=1&gclid=Cj0KCQjwnqH7BRDdARIsACTSAduVf4uMBQrqgwxZ1tSAxBeAm-ylz-Zo0rfd5NRynBRVWDUxGfh_3joaAtOOEALw_wcB&hvadid=275354626981&hvdev=c&hvlocphy=1005428&hvnetw=g&hvqmt=e&hvrand=16679392969790058545&hvtargid=kwd-347548837639&hydadcr=13132_1735202&keywords=el+talento+oscuro&qid=1600713461&quartzVehicle=35-494&replacementKeywords=el+oscuro&sr=8-1&tag=hydes-21"><img src="../img/3.jpg" alt="ebook 1">
       <div>El talento oscuro</div>
    </div>
     <div class="ebook">
      <a href="https://www.amazon.es/Alcatraz-contra-Bibliotecarios-Malvados-caballeros/dp/8416712131"><img src="../img/4.jpg" alt="ebook 1">
      <div>El caballero de Crystallia</div>
    </div>

</div>
    <div class="column right">
    <h2>Top ventas</h2>
    <p>Cien años de soledad.</p>
    <p>Crónica de una muerte anunciada.</p>
    <p>El otoño del patriarca.</p>
    <p>El general en su laberinto.</p>
  </div>

</body>
</html>
